/* remove fullpage watermark*/
.fp-watermark {
    display: none;
}
/* fullpage tooltip names */
#fp-nav ul li .fp-tooltip {
    color: black;
}
/* left side of the interactive graph */
.leftSankey {
    float: left;
    width: 60%;
    height: 100%;
    background-color: #fff;
}
/* right side of the interactive graph */
.rightSankey {
    float: right;
    width: 40%;
    height: 100%;
    background-color: #d0d0d0;
}
/* style for dropdown menu of top3 game */
.metricSelector {
    padding-top: 3px;
    padding-left: 5px;
    font-size: large;
    text-align: left;
    border: 1px;
    border-radius: 5px;
    cursor: pointer;
}
/* the root container of the top 3 */
.rankContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}
/* child of root container of the top 3 */
.gameRankContainer {
    width: 33%;
    display: grid;
    position: relative;
}
/* children where the game is displayed */
.gameContainer {
    outline: 1px solid black;
    width: 70%;
    justify-self: center;
}
/* div parent of all section */
/* h1 */
h1 {
    margin: 0px 0px 0px 0px;
    text-align: center;
}
.homepageTitle {
    font-size: 70px;
    padding: 50px;
    font-family: 'Courier New', Courier, monospace;
}
.sectionTitle {
    text-align: left;
    font-size: 40px;
    margin: 0px 0px 0px 0px;
    padding: 0px;
    padding-left: 10px;
}

.statsPresentation {
    text-align: center;
    margin: 0px 50px 0px 50px;
}

.dynamicNumber {
    text-align: center;
    font-size: 80px;
    color: darkslategray;
}
.dynamicNumberTitle {
    padding-top: 0px;
    font-size: 70px;
    color: rgb(28, 59, 59);
}

p {
    font-size: 25px;
    text-align: justify;
    box-sizing: border-box;
    padding: 5px;
    margin: 0px 20px 0px 20px;
}
/* h2 */
h2 {
    padding-inline: 20px;
}
/* FOR THE GENRE DIVERSITY PART*/

/*style of the main vizualisation part*/
.visulizationPart {
    width: 100%;
    height: 90%;
}
/* left side of the genre diversity part */
.leftGenresSection {
    float: left;
    width: 50%;
    height: 100%;
    background-color: #fff;
}
/* right side of the genre diversity part */
.rightGenresSection {
    float: right;
    width: 50%;
    height: 100%;
    background-color: #77b7e2;
    align-items: end;
    align-content: end;
}

/* title of the genre graph */
.genreGraphTitle {
    text-align: center;
    padding: 0px;
    font-size: 30px;
    margin: 0px 0px 0px 0px;
}

/* title of the genres descriptive part */
.genreDescriptivePart {
    text-align: left;
    padding: 0px;
    padding-left: 10px;
    font-size: 30px;
    margin: 0px 0px 0px 0px;
}

/* the conatiner of a game card */
.podiumGame {
    padding: 0%;
    margin: 0%;
    padding-top: 0%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 80%;
    align-items: end;
}

.podiumPlace {
    padding: 0%;
    margin: 1%;
    padding-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 80%;
    align-items: center;
}

.podiumStep {
    text-align: center;
    width: 100%;
    font-size: xx-large;
    margin-top: 10px;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.gameCard {
    box-shadow: 0 14px 18px 0 rgba(6, 6, 6, 0.2);
    width: 80%;
    height: 100%;
    margin: 1%;
    justify-content: center;
    text-align: center;
}
.gameCardTitleContainer {
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    width: 100%;
    height: 20%;
    font-size: small;
    color: white;
    padding: auto;
    padding-left: 0%;
    margin-left: 0%;
    justify-self: center;
}
.gameCardLabel {
    text-align: left;
    font-family: cursive;
    margin-left: 5%;
    margin-right: 5%;
}
.gameCardTextElem {
    font-size: medium;
    text-align: left;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 0%;
    padding-top: 0%;
    margin-left: 8%;
    margin-right: 5%;
}
.gameDescriptionContainer {
    text-align: left;
    background-color: #d0d0d0;
    width: 100%;
    height: 80%;
}
