/* remove fullpage watermark*/
.fp-watermark {
    display: none;
}
/* fullpage tooltip names */
#fp-nav ul li .fp-tooltip {
    color: black;
}
/* for both sides of interactive graph */
.interactive {
    display: grid;
    align-content: space-between;
}
/* left side of the interactive graph */
.leftInteractive {
    float: left;
    width: 60%;
    height: 100%;
    background-color: #fff;
}
/* right side of the interactive graph */
.rightInteractive {
    float: right;
    width: 40%;
    height: 100%;
    background-color: #d0d0d0;
}
/* bottom of the interactive */
.bottomInteractive {
    display: grid;
    padding-inline: 5px;
    grid-template-areas: 'left right';
}
/* style for dropdown menu of top3 game */
.metricSelector {
    padding-top: 3px;
    padding-left: 5px;
    font-size: large;
    text-align: left;
    border: 1px;
    border-radius: 5px;
    cursor: pointer;
}
/* the root container of the top games */
.rankContainer {
    overflow: auto;
    white-space: nowrap;
    width: 100%;
}
/* child of root container of the top games */
.gameContainer {
    border: 1px solid black;
    padding-inline: 5px;
    display: inline-block;
    align-content: center;
}
img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
/* div parent of all section */
/* h1 */
h1 {
    margin: 0px 0px 0px 0px;
    text-align: center;
}
.homepageTitle {
    font-size: 70px;
    padding: 50px;
    font-family: 'Courier New', Courier, monospace;
}
.sectionTitle {
    text-align: left;
    font-size: 40px;
    margin: 0px 0px 0px 0px;
    padding: 0px;
    padding-left: 10px;
}

.statsPresentation {
    text-align: center;
    margin: 0px 50px 0px 50px;
}

.dynamicNumber {
    text-align: center;
    font-size: 80px;
    color: darkslategray;
}
.dynamicNumberTitle {
    padding-top: 0px;
    font-size: 70px;
    color: rgb(28, 59, 59);
}

p {
    font-size: 25px;
    text-align: justify;
    box-sizing: border-box;
    padding: 5px;
    margin: 0px 20px 0px 20px;
}
/* h2 */
h2 {
    padding-inline: 20px;
}